services:
  - type: web
    name: psychobot-v2
    env: docker
    region: oregon
    plan: free
    healthCheckPath: /
    envVars:
      - key: PORT
        value: 10000
      - key: GROQ_API_KEY
        sync: false


